// we declare variables in sass 

$primary-color: blue;
$accent-color: red;
$text-color: #fff;

// we create a map
$font-weights : (
    "regular" : 200,
    "medium" : 500,
    "bold" : 800
);

$mobile : 500px
/*
With Sass, you can store information in variables, like:

strings
numbers
colors
booleans
lists
nulls
Sass uses the $ symbol, followed by a name, to declare variables
*/ 